 * {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: rgb(31, 34, 53);
} 

.btn {
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  text-transform: capitalize;
  padding: 17px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.title-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  padding: 10px;
}

.header {
  height: 100px;
  max-width: 1285px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}
.menu__item {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
  margin-right: 24px;
}

.menu__item:hover {
  color: rgb(254, 70, 28);
}

.menu-buttom {
  background: rgb(254, 70, 28);
}

.main-banner {
  position: relative;
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
  margin-top: 160px;
  padding-bottom: 160px;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.presentation-content {
  display: flex;
  flex-direction: column;
  max-width: 654px;
}
.presentation-content__welcome {
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 15%;
  text-transform: capitalize;
}

.presentation-content__main-title {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 30px;
}

.presentation-content__main-title > span {
  color: rgb(254, 70, 28)
}

.presentation-content__main-description {
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 36px;
}

.presentation-content__buttons,
.resume-section__content-buttons
{
  display: flex;
}

.presentation-content__button-hire 
{
  margin-right: 24px;
  background: rgb(254, 70, 28);
  min-width: 160px;
}
.presentation-content__button__download {
  min-width: 160px;
  border: 2px solid white;
}

.presentation-content__img > img{
  width: 634px;
  height: auto;
}

/* About Me section */

.about-me__section {
  display: flex;
  width: 100%;
  height: auto;
  background: rgb(36, 38, 59);
}


.about-me__section__content__main {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 160px;
}

.about-me__section__content {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}


.about-me__section__img > img 
{
  margin-top: 50px;
  margin-right: 50px;
  width: 578px;
  height: auto;
}



.about-me__section__content__btn
{
  width: 115px;
  height: 36px;
}
 
.about-me__section__content__title 
{
  display: flex;
  align-items: end;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  margin-top: 19px;
  margin-bottom: 15px;
}

.about-me__section__content__description {
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  width: 524px;
  height: 130px;
}

.about-me__section__content__dates 
{
  display: flex;
  margin-top: 20px;
}

.about-me__section__content__dates__left {
  margin-right: 54px;
}

.about-me__section__content__dates__left, .about-me__section__content__dates__right {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.about-me__section__content__caption {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-right: 15px;
}
 .about-me__section__content__info {
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
 }


.about-me__section__content__item {
  margin-bottom: 30px;
}

.menu-buttom, .btn {
  width: 160px;
  height: 56px;
}

/* Portfolio  */

.portfolio-section {
  width: 100%;
  height: auto;
  background: rgb(31, 34, 53);
}

.portfolio-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-section__content-main
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 54px;
}

.portfolio-section__content-btn {
  width: 115px;
  height: 36px;
}

.portfolio-section__content-title {
  display: flex;
  align-items: end;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 19px;
  margin-bottom: 15px;
}

.portfolio-section__content-menu {
  display: flex;
  align-items: center;
}

.portfolio-section__content-menu__item {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
  margin-right: 24px;
  margin-bottom: 36px;
}

.portfolio-section__content-menu__item:hover {
  color: rgb(254, 70, 28);
}

.portfolio-section__content-img {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 24px; 
  margin-bottom: 160px;
}
.portfolio-section__content-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.rectangle-odd, .rectangle-even {
  border-radius: 8px;
  background: rgba(217, 217, 217, 1);
  
}

.rectangle-odd {
  width: 424px;
  height: 260px;
}

.rectangle-even {
  width: 424px;
  height: 544px;
}

.rectangle-even__title {
  align-items: flex-end;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-left: 29px;
  padding-top: 461px;
}

.rectangle-even__info {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 15px;
  margin-left: 29px;
  margin-bottom: 28px;
} 

/* Services */

.services-section,
.testimonial-section
{
  width: 100%;
  height: auto;
  background: rgb(36, 38, 59);
}

.services-section__content
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section__content-main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 54px;
}

.services-section__content-btn {
  width: 172px;
  height: 36px;
}

.services-section__content-title,
.testimonial-section__content-title,
.blogpost-section__content-title,
.contact-section__title
{
  display: flex;
  align-items: end;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 17px;
  margin-bottom: 15px;
}

.services-section__content-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 31px;
  margin-bottom: 120px;
}

.services-section__content-menu__item {
  width: 307px;
  height: auto;
  border-radius: 8px;
  background: rgb(31, 34, 53);
}

.services-section__content-menu__item  img:first-child {
  margin-top: 41px;
  margin-left: 25px;
}

.services-section__content-menu__title
 {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-top: 27px;
  margin-left: 30px;
}

.services-section__content-menu__description {
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 238px;
  height: 72px;
  margin-top: 30px;
  margin-left: 30px;
}

.services-section__circle {
  margin-top: 37px;
  margin-left: 30px;
  margin-bottom: 41px;
  width: 50px;
  height: 50px;
  background-color: #2c2c3a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.services-section__circle img:first-of-type {
  margin-bottom: 41px;
  margin-right: 25px;
}

.services-section__circle:hover {
  background: rgba(254, 70, 28, 1);
  cursor: pointer;
}

/* Resume section*/

.resume-section,
.blogpost-section
{
  width: 100%;
  height: auto;
}

.resume-section__content
{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 120px;
  padding-bottom: 160px;
}

.resume-section__content-main
 {
  display: flex;
  flex-direction: column;
}

 .resume-section__content-btn {
  width: 97px;
  height: 36px;
 }

 .resume-section__content-title {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
  margin-top: 16px;
  margin-bottom: 47px;
 }

 .resume-section__content-button-design
 {
  width: 90px;
  height: 36px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  margin-right: 20px;
 }

 .resume-section__content-button-experience
 {
  width: 121px;
  height: 36px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  margin-right: 20px;
 }

 .resume-section__content-button-education
 {
  width: 113px;
  height: 36px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
 }

 .resume-btn:hover
 {
  background: rgb(254, 70, 28)
 }

 .resume-section__content-indicators
 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 39px;
  width: 606px;
  height: 345px;
 }

 .resume-section__content__indicators-title
 {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
 }

 .resume-section__content__indicators-title > span
 {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
 }

 .resume-section__content-indicators-scale
 {
  width: 606px;
  height: 18px;
  border-radius: 300px;
  background: rgb(255, 255, 255);
 }


.resume-section__content-indicators-scale-aillustrator
{
  width: 90%;
  height: 100%;
  background: red;
  border-radius: 300px;
}

.resume-section__content-indicators-scale-photoshop
{
  width: 80%;
  height: 100%;
  background: red;
  border-radius: 300px;
}

.resume-section__content-indicators-scale-effect
{
  width: 70%;
  height: 100%;
  background: red;
  border-radius: 300px;
}

.resume-section__content-indicators-scale-figma
{
  width: 60%;
  height: 100%;
  background: red;
  border-radius: 300px;
}

.resume-section__content-image
{
  margin-left: 76px;
  margin-top: 130px;
}


/* Client section */

.testimonial-section__content-btn
{
  width: 161px;
  height: 36px;
}

.testimonial-section_content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.testimonial-section__content-reviews
{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
  gap: 31px;
  margin-top: 34px;
  margin-bottom: 120px;
} 

.testimonial-section__content-review-info,
.blogpost-section__content__info
{
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  width: auto;
  height: auto;
  
}

.testimonial-section__review-window
{
  position: relative;
  width: 468px;
  height: 353px;
  margin-bottom: 50px;
}

.testimonial-section__content-review-main
{
    width: auto;
    height: auto;
    background: rgb(31, 34, 53);
    padding-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}


.testimonial-section__content-review__qoutes
{
  float: right;
  margin-right: 103px;
  margin-top: 37px;
}

.testimonial-section__content-review-name
{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 41px;
  margin-left: 42px;
}

.testimonial-section__content-review-job__position
{
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 15px;
  margin-left: 42px;
}

.testimonial-section__horizontal-line 
{
  width: 290px;
  height: 2px;
  background: rgb(230, 231, 232);
  margin-left: 43px;
  margin-bottom: 15px;
  margin-top: 14px;
}

.testimonial-section__content-review-description
{
  width: 337px;
  height: auto;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-right: 45px;
  padding-bottom: 29px;
  margin-left: 42px;
}

.testimonial-section__poligon
{
    position: absolute;
    bottom: 65px;
    margin-left: 15px;
}

.testimonial-section__content-review-circles {
  display: flex;
  gap: 300px;
  width: auto;
}

.testimonial-section__circle
{
  display: flex;
  margin-top: 40px;
  margin-left: 15px;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  border: 2px solid rgb(254, 70, 28);
  border-radius: 35px;
  background: rgb(217, 217, 217);
  transition: background-color 0.3s ease;
}

.testimonial-section__circle:hover 
{
  background: rgb(254, 70, 28);
}

/* Blog post */

.blogpost-section__content
{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 120px;
  padding-bottom: 120px;
}

.blogpost-section__content__main
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogpost-section__content__btn 
{
  width: 133px;
  height: 36px;
}

.blogpost-section__content__post {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

.blogpost-section__content__post-image
{
  width: 424px;
  height: 315px;
  margin-bottom: 26px;
  border-radius: 8px;
  background: rgb(217, 217, 217);
}

.blogpost-section__content__post-statistic
{
  display: flex;
  justify-content: space-between;
  width: 265px;
  height: 30px; 
}

.blogpost-section__post-icon
{
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.blogpost-section__post-icon>span
{
  margin-left: 5px;
}

.blogpost-section__content__post-content
{
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 127px;
}

.blogpost-section__content__post-title
{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 12px;
}

.blogpost-section__content__post-description
{
  width: 358px;
  height: 48px;
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* Subscribe section*/

.subscribe-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background: rgb(36, 38, 59);
}

.subscribe-section-content__main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 0 auto;
  padding: 80px 130px;
  border-radius: 8px;
  background: rgb(31, 34, 53);
}

.subscribe-now {
  display: flex;
  flex-direction: column;
}

.subscribe-now__title {
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.subscribe-now__newsletter {
  width: 479px;
  height: 59px;
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 55px;
  font-weight: 700;
  margin-top: 9px;
  margin-bottom: 12px;
  line-height: 55px;
}

.subscribe-now__description {
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 18px;
  /* font-weight: 400;
  line-height: 21px;
  text-align: left; */
}

.subscribe-now__input {
  position: relative;
  margin-left: 40px;
}

.subscribe-now__input-item {
  position: relative;
  width: 550px;
  height: 60px;
  border-radius: 80px;
  background: rgb(255, 255, 255);
}

.subscribe-now__input > input {
  color: rgb(157, 161, 180);
  font-family: Lato;
  font-size: 16px;
  padding-left: 20px;
}

.subscribe-now__input > button {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;

}

.subscribe-now__input-button {
  position: absolute;
  right: 0px;
  width: 190px;
  height: 60px;
  border-radius: 80px;
  background: rgb(254, 70, 28);
  transition: background-color 0.3s ease;
}

.subscribe-now__input-button:hover
{
  background: rgb(255, 255, 255);
  border: 1px solid red;
  color: rgb(254, 70, 28);
}

/* Contact section */

.contact-section,
.footer-section
{
  width: 100%;
  height: auto;
}

.contact-section__content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.contact-section__header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.contact-section__btn
{
  width: 133px;
  height: 36px;
}

.contact-section__main
{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content:space-around;
    gap: 100px;
    width: auto;
    height: auto;
}

.contact-section__contacts
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 369px;
  height: auto;
}

.contact-section__contact-block
{
  display: flex;
  justify-content: space-between;
  width: 368px;
  height: 117px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: rgb(36, 38, 59);
}

.contact-section__icon
{
  width: 70px;
  height: 70px;
}

.contact-section__contact-info
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 224px;
  height: 100%;
}

.contact-section__contact-title,
.contact-section__action-title
{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.contact-section__contact-item
{
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.contact-section__contact-item:hover
{
  color: rgb(254, 70, 28);;
}

.contact-section__message
{
  display: flex;
  justify-content: center;
  width: 700px;
  height: auto;
}

.contact-section__user-info
{
  display: flex;
  gap: 30px;
  margin-top: 24px;
}

.contact-section__name-input,
.contact-section__email-input,
.contact-section__textarea-input
{
  width: 335px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: rgb(36, 38, 59);
  padding-left: 20px;
  margin-bottom: 18px;
}

.contact-section__textarea-input
{
  width: 700px;
  height: 210px;
  padding-top: 15px;
}

.contact-section__button
{
  width: 220px;
  height: 56px;
  border-radius: 4px;
  background: rgb(254, 70, 28);
}

.contact-section__map
{
  display: flex;
  width: 1169px;
  height: 550px;
  border-radius: 8px;
}

iframe 
{
  width: 100%;
}

.footer-section
{
  display: flex;
  justify-content: center;
}

.footer-section__info
{
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
}


@media screen and (max-width: 1200px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .menu__item {
    margin-right: 10px;
  }

  .main-banner {
    /* flex-wrap: wrap-reverse; */
    max-width: 720px;
    margin: 30px 0 0 0;
    padding: 40px;
  }
  .social-media {
    max-width: 720px;
  }

  .presentation-content {
    padding-right: 40px;
  }

  .presentation-content__main-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }

  .presentation-content__main-description {
    /* text-align: -webkit-center; */
  }

  .presentation-content__img > img {
    width: 350px;
    height: auto;
    margin-bottom: 60px;

  }

  .about-me__section__content {
    margin-left: 0;
  }

  .about-me__section__img > img {
    width: 350px;
    height: auto;
    margin-top: 60px;
    margin-right: 10px;
  }

  .about-me__section__content__dates__left {
    margin-right: 0;
  }

  .about-me__section__content__main {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .portfolio-section__content-main {
    margin-top: 60px;
  }

  .portfolio-section__content-img {
    margin-bottom: 60px;
  }

  .rectangle-odd {
    width: 283px;
    height: 174px;
  }

  .rectangle-even {
    width: 283px;
    height: 363px;
  }

  .rectangle-even__title{
    font-size: 14px;
    padding-top: 320px;
  }

  .rectangle-even__info {
    margin-top: 0;
    font-size: 10px;
    line-height: 0;
  }

  .resume-section__content-main {
    align-items: center;
  }

  .resume-section__content {
    padding-bottom: 60px;
    margin-top: 60px;
  }

  .resume-section__content-title {
    margin-bottom: 20px;
  }

  .resume-section__content-image {
    margin-left: 0;
  }

  .resume-section__content-image>img {
    width: 350px;
    height: auto;
  }

  .resume-section__content-indicators {
    width: 404px;
    height: 230px;
    margin-top: 10px;
  }
  
  .resume-section__content-indicators-scale {
    width: 404px;
  }

  .testimonial-section_content {
    padding-top: 60px;
  }

  .testimonial-section__content-reviews {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .testimonial-section__content-review-info,
  .blogpost-section__content__info
  {
    flex-direction: column;
  }

  .services-section__content-main {
    margin-top: 60px;
  }

  .services-section__content-menu {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .blogpost-section__content {
    margin-top: 60px;
    padding-bottom: 60px;
  }

  .subscribe-now {
    align-items: center;
  }

  .subscribe-now__description {
    padding-bottom: 20px;
  }

  .subscribe-now__input {
    margin-left: 0;
  }

  .subscribe-section-content__main {
    flex-wrap: wrap;
  }

  .contact-section__header {
    margin-top: 50px;
  }

  .contact-section__main {
    flex-wrap: wrap-reverse;
  }

  .contact-section__map {
    width: 800px;
  }
}
  @media screen and (max-width: 900px) {
    .main-banner {
      flex-wrap: wrap-reverse;
    }
    .social-media {
      padding-top: 35px;
      flex-direction: row;
    }

    .about-me__section__content__main {
       flex-wrap: wrap;
    }

    .portfolio-section__content-img {
      flex-wrap: wrap;
    }

    .resume-section__content {
      flex-wrap: wrap-reverse;
    }

    .resume-section__content-image {
      margin-top: 0;
      margin-bottom: 50px;
    }

    .contact-section__content {
      gap: 0;
    }
  }

  @media screen and (max-width: 720px){
    .menu {
      margin-left: 20px;
      flex-wrap: wrap;
    }
    
    .presentation-content__welcome,
    .presentation-content__main-title,
    .presentation-content__main-description {
      text-align: -webkit-center;
    }

    .presentation-content__buttons{
      justify-content: center;
    }

    .about-me__section__content {
      align-items: center;
    }

    .contact-section__name-input,.contact-section__email-input {
      width: 250px;
    }

    .contact-section__textarea-input {
      width: 510px;
    }

    
  }

  @media screen and (max-width: 820px){
    
    .contact-section__map {
      width: 400px;
      margin-top: 40px;
    }

  }

  @media screen and (max-width: 600px) {
    .about-me__section__content__description {
      width: 350px;
      height: 200px;
    }

    .about-me__section__content__dates {
      flex-direction: column;
    }

    .subscribe-now__newsletter {
      font-size: 30px;
      text-align: -webkit-center;
    }

    .subscribe-now__description {
      font-size: 16px;
    }

    .subscribe-now__input {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .subscribe-now__input-item {
      position: static;
      width: 350px;
    }

    .subscribe-now__input-button {
      position: static;
      margin-top: 20px;
    }

    .contact-section__main {
      gap: 50px;
    }


    .contact-section__action-title {
      text-align: center;
    }

    .contact-section__user-info 
     {
      align-items: center;
      flex-direction: column;
      gap: 0;
     }

     .contact-section__textarea-input {
      width: 350px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


